<form method="post" action="/articles">
<h1>Add a New Article</h1>
<p>Title: <input type="text" name="title"></p>
<p>Content: <input type="text" name="content"></p>
<button type="submit" value="submit">Submit</button>
</form>